<div class="kt-portlet kt-portlet--mobile">
    <div class="kt-portlet__head kt-portlet__head--lg">
        <div class="kt-portlet__head-label">
            <span class="kt-portlet__head-icon">
                <i class="kt-font-brand flaticon2-line-chart"></i>
            </span>
            <h3 class="kt-portlet__head-title">
                Daftar Penyedia Cartridge
                <small></small>
            </h3>
        </div>
        <div class="kt-portlet__head-toolbar">
            <div class="kt-portlet__head-wrapper">
                <div class="kt-portlet__head-actions">
                    &nbsp;
                    <!-- <a routerLink="/penyedia/penyedia-cartridge/add" class="btn btn-brand btn-elevate btn-icon-sm">
                        <i class="la la-plus"></i>
                        New Record Cartridge
                    </a> -->
                    <button type="button" class="btn btn-primary" (click)="openModalCartridgeAdd()"> <i class="la la-plus"></i>Add Cartridge</button>
                </div>
            </div>
        </div>
    </div>
    <div class="kt-portlet__body">
        <!--begin: Search Form -->
        <div class="kt-form kt-form--label-right kt-margin-t-20 kt-margin-b-10">
            <div class="row align-items-center">
                <div class="col-xl-8 order-2 order-xl-1">
                    <div class="row align-items-center">
                        <div class="col-md-4 kt-margin-b-20-tablet-and-mobile">
                            <div class="kt-input-icon kt-input-icon--left">
                                <input type="text" class="form-control" placeholder="Search..." id="generalSearch"
                                (change)="onChangeCartridge($event)" />
                                <span class="kt-input-icon__icon kt-input-icon__icon--left">
                                    <span><i class="la la-search"></i></span>
                                </span>
                            </div>
                        </div>
                        <div class="col-md-4 kt-margin-b-20-tablet-and-mobile">
                            <div class="kt-form__group kt-form__group--inline">
                                <div class="kt-form__label">
                                    <label>Status:</label>
                                </div>
                                <div class="kt-form__control">
                                    <select class="form-control bootstrap-select" id="kt_form_status">
                                        <option value="">All</option>
                                        <option value="1">Pending</option>
                                        <option value="2">Delivered</option>
                                        <option value="3">Canceled</option>
                                        <option value="4">Success</option>
                                        <option value="5">Info</option>
                                        <option value="6">Danger</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 kt-margin-b-20-tablet-and-mobile">
                            <div class="kt-form__group kt-form__group--inline">
                                <div class="kt-form__label">
                                    <label>Type:</label>
                                </div>
                                <div class="kt-form__control">
                                    <select class="form-control bootstrap-select" id="kt_form_type">
                                        <option value="">All</option>
                                        <option value="1">Online</option>
                                        <option value="2">Retail</option>
                                        <option value="3">Direct</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 order-1 order-xl-2 kt-align-right">
                    <a href="#" class="btn btn-default kt-hidden">
                        <i class="la la-cart-plus"></i> New Order
                    </a>
                    <div class="kt-separator kt-separator--border-dashed kt-separator--space-lg d-xl-none"></div>
                </div>
            </div>
        </div>
        <!--end: Search Form -->
    </div>
    <div class="kt-portlet__body kt-portlet__body--fit">
        <!--begin: Datatable -->
        <div class="kt-datatable kt-datatable--default kt-datatable--brand kt-datatable--loaded" id="data-printer"
            style="">
            <table class="kt-datatable__table" style="display: block;" id="table-printer"> 
                <thead class="kt-datatable__head">
                    <tr class="kt-datatable__row" style="left: 0px;">
                        <th data-field="RecordID"
                            class="kt-datatable__cell--center kt-datatable__cell kt-datatable__cell--check">
                            <span style="width: 20px;">
                                <label class="kt-checkbox kt-checkbox--single kt-checkbox--all kt-checkbox--solid">
                                    <input type="checkbox">&nbsp;<span></span>
                                </label>
                            </span>
                        </th>
                        <th data-field="Country" class="kt-datatable__cell kt-datatable__cell--sort">
                            <span style="width: 110px;">Id Cartridge</span>
                        </th>
						<th data-field="Country" class="kt-datatable__cell kt-datatable__cell--sort">
                            <span style="width: 110px;">Nama Penyedia</span>
                        </th>
						<th data-field="Country" class="kt-datatable__cell kt-datatable__cell--sort">
                            <span style="width: 110px;">NPWP Penyedia</span>
                        </th>
                        <th data-field="Country" class="kt-datatable__cell kt-datatable__cell--sort">
                            <span style="width: 110px;">Type Cartridge</span>
                        </th>
						<th data-field="Country" class="kt-datatable__cell kt-datatable__cell--sort">
                            <span style="width: 110px;">Creation Date</span>
                        </th>
                        <th data-field="Country" class="kt-datatable__cell kt-datatable__cell--sort">
                            <span style="width: 110px;">Status</span>
                        </th>
                        <th data-field="Actions" data-autohide-disabled="false"
                            class="kt-datatable__cell kt-datatable__cell--sort">
                            <span style="width: 110px;">Actions</span>
                        </th>
                    </tr>
                </thead>
                <tbody class="kt-datatable__body" style="">
                    <tr data-row="0" class="kt-datatable__row" style="left: 0px;"
                        *ngFor="let item of currentItemsToShow; let i = index">
                        <td class="kt-datatable__cell--center kt-datatable__cell kt-datatable__cell--check"
                            data-field="RecordID">
                            <span style="width: 20px;">
                                <label class="kt-checkbox kt-checkbox--single kt-checkbox--solid">
                                    <input type="checkbox" value="1">&nbsp;<span></span>
                                </label>
                            </span>
                        </td>
                        <td data-field="OrderID" class="kt-datatable__cell">
                            <span style="width: 110px;">{{ item.idCartridge }}</span>
                        </td>
						<td data-field="Country" class="kt-datatable__cell">
                            <span style="width: 110px;">{{ item.nama }}</span>
                        </td>
						<td data-field="Country" class="kt-datatable__cell">
                            <span style="width: 110px;">{{ item.npwp }}</span>
                        </td>
                        <td data-field="Country" class="kt-datatable__cell">
                            <span style="width: 110px;">{{ item.type }}</span>
                        </td>
                        <td data-field="Country" class="kt-datatable__cell">
                            <span style="width: 110px;">{{ item.createdAt }}</span>
                        </td>
                        <td data-field="Country" class="kt-datatable__cell">
                            <div class="kt-section__content kt-section__content--solid">
                                <span style="width: 110px;" class="kt-badge kt-badge--brand kt-badge--inline" *ngIf="item.status == 0">Belum Disetujui</span>
                                <span style="width: 110px;" class="kt-badge kt-badge--success kt-badge--inline" *ngIf="item.status == 1">Aktif</span>
                                <span style="width: 110px;" class="kt-badge kt-badge--warning kt-badge--inline" *ngIf="item.status == 2">Ditolak</span>
                                <span style="width: 110px;" class="kt-badge kt-badge--danger kt-badge--inline" *ngIf="item.status == 3">Non Aktif</span>
                            </div>                            
                        </td>
                        <td data-field="Actions" data-autohide-disabled="false" class="kt-datatable__cell"><span
                                style="overflow: visible; position: relative; width: 110px;">
                                
                                <!-- <button *ngIf="item.status == 0" title="Setujui" class="btn btn-sm btn-clean btn-icon btn-icon-md" (click)="buttonEdit(item)"> <i
                                        class="fa fa-check-square"></i></button>
                                <button title="Edit details" class="btn btn-sm btn-clean btn-icon btn-icon-md"
                                    (click)="buttonEdit(item)"> <i class="la la-edit"></i></button> -->
                                <!-- <div class="dropdown">
                                    <a title="Set Aksi" href="javascript:;" class="btn btn-sm btn-clean btn-icon btn-icon-md" data-toggle="dropdown">
                                        <i class="la la-cog"></i>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-right">
                                        <button *ngFor="let status of listStatus" class="dropdown-item" (click)="updateStatus(item, status)"><i [ngClass]="status.icon"></i>{{ status.name }}</button>
                                    </div>
                                </div> -->
                                <a title="Aksi Approved" class="btn btn-sm btn-clean btn-icon btn-icon-md" (click)="openModalApproveAdd(item)"> <i
                                        class="la la-cog"></i> </a>
                                
                            </span>
                        </td>
                    </tr>
                </tbody>
            </table>
            <mat-paginator 
                (page)="onPageChange($event)"
                [length]="recordsTotal"
                [pageSize]="pageSize"
                [pageSizeOptions]="[5, 10, 25, 100]" aria-label="select page of printer">
            </mat-paginator>
        </div> <!--end: Datatable -->

        <!--begin: Datatable -->
        <div *ngIf="loadingService.isLoading | async" id="loading">
            <mat-spinner diameter="80" mode="indeterminate" strokeWidth="8" ></mat-spinner>
        </div>
        <!--end: Datatable -->
        <!-- <router-outlet></router-outlet> -->
    </div>
    
    <!--Modal Cartridge-->
    <div class="modal fade show" id="modal_cartridge_add" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-modal="true" style="display: none; padding-right: 17px;">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">New Cartridge</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeModalCartridgeAdd()">
                    </button>
                </div>
                <div class="modal-body">
                    <form [formGroup]="cartridgeAddForm" (ngSubmit)="submitCartridge()">
                        <div class="form-group">
                            <label for="npwp-name" class="form-control-label">NPWP:</label>
                            <!-- <select class="form-control m-select2" id="npwpDistributorAdd" formControlName="npwpDistributorAdd" placeholder="Select Distributor">
                                <option *ngFor="let dtDistributor of dataDistributors" [value]="dtDistributor.id">{{dtDistributor.name}}</option>
                            </select> -->
                            <ng-select class="custom" style="padding-bottom: 0px" id="npwpDistributorAdd" formControlName="npwpDistributorAdd" placeholder="Select Distributor">
                                <ng-option *ngFor="let dtDistributor of dataDistributors" [value]="dtDistributor.id">{{dtDistributor.name}}</ng-option>
                            </ng-select>
                        </div>
                        <div class="form-group">
                            <label for="type-text" class="form-control-label">Type:</label>
                            <input type="text" class="form-control" aria-describedby="typeHelp" id="typeAdd"
                                    formControlName="typeAdd" placeholder="Enter Type">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="closeModalCartridgeAdd()">Close</button>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </form>
                </div>                
            </div>
        </div>
    </div>
    <!--end::Modal Printer-->
    <!--Modal Approval-->
    <div class="modal fade show" id="modal_approval_cartridge" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-modal="true" style="display: none; padding-right: 17px;">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Approval New Cartridge</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeModalApproveAdd()">
                    </button>
                </div>
                <div class="modal-body">
                    <form [formGroup]="approvedForm" (ngSubmit)="submitApproved()">
                        <div class="form-group">
                            <input type="text" class="form-control" aria-describedby="cartridgeHelp" id="idCartridgeAdd"
                                    formControlName="idCartridgeAdd" hidden>
                        </div>
                        <div class="form-group">
                            <label for="noSertifikasi-text" class="form-control-label">Status:</label>
                            <select class="form-control m-select2" id="statusAdd" formControlName="statusAdd" placeholder="Select Status" (change)="onChangeStatus($event)">
                                <option *ngFor="let status of listStatus" [value]="status.value">{{status.name}}</option>
                            </select>
                        </div>
                        <div class="form-group" id="show-sertifikasi" *ngIf="!isValid">
                            <label for="noSertifikasi-text" class="form-control-label">Nomor Sertikasi:</label>
                            <input type="text" class="form-control" aria-describedby="noSertifikasiHelp" id="noSertifikasiAdd"
                                    formControlName="noSertifikasiAdd" placeholder="Enter Nomor Sertikasi">
                        </div>
                        <div class="form-group">
                            <label for="keterangan-text" class="form-control-label">Keterangan:</label>
                            <input type="text" class="form-control" aria-describedby="keteranganHelp" id="keteranganAdd"
                                    formControlName="keteranganAdd" placeholder="Enter Keterangan">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="closeModalApproveAdd()">Close</button>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </form>
                </div>                
            </div>
        </div>
    </div>
    <!--end::Modal Approval-->
</div>